/* Estilos gerais */

body {
  background-image: url('img/f1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #2a2a2a;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilos para telas menores (dispositivos móveis) */
@media screen and (max-width: 767px) {
  header {
    padding: 5px 0;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  .logo {
    font-size: 1.2rem;
  }

  table {
    font-size: 0.5rem;
  }
}



.table-container {
  max-height: 460px;
  width: 900px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1{
  font-size: 30px;
  align-items: center;
  text-align: center;
}

table {
  width: 860px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  color: black;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

thead {
  background-color: #2a2a2a;
  color: #fff;
}

.container {
  display: flex;
  align-items: flex-start; /* Alinhamento superior */
  padding: 20px; /* Espaçamento para a seção */
  gap: 20px; /* Espaçamento entre os containers */
  color: #2a2a2a;
  width: 95%;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos filhos */
}



.table-section,
.form-section {
  flex: 1; /* Distribuição igual de espaço */
  padding: 20px; /* Adicionando um espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  background-color: rgba(255, 255, 255, 0.95); /* Cor de fundo */
}
.table-section{
  margin-right: 50px;
  width: 1000px;

}
.form-section{
width: 320px;
}


/* Estilos para a seção de gerenciamento */
#management {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.management-block {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#management h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#management-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px; /* Espaçamento entre a tabela e o formulário */
}

#management-form label {
  font-size: 16px;
}

#management-form input[type="number"] {
  padding: 8px;
  margin-bottom: 10px;
  width: 200px;
}

#management-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#management-form input[type="submit"]:hover {
  background-color: #45a049;
}

#registrosGerais {
  max-height: 100px;
  overflow-y: auto;
}

footer {
  background-color: #2a2a2a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}
