/* Estilos gerais */
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #hero {
    background: linear-gradient(to bottom, transparent, black), url('img/img1.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .banner {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #2a2a2a;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    color: black;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  thead {
    background-color: #2a2a2a;
    color: #fff;
  }
  
  footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  